[Unit]
Description=astrophotography

[Service]
User=root
WorkingDirectory=/home/d3/astrophotography
EnvironmentFile=/home/d3/astrophotography/serviceConf.txt
ExecStart=/home/d3/astrophotography/astrophotography.sh ${ARG1} ${ARG2}

[Install]
WantedBy=multi-user.target
