[Unit]
Description=astrophotography

[Service]
User=root
WorkingDirectory=/home/d3/astrophotography
ExecStart=/home/d3/astrophotography/astrophotography.sh

[Install]
WantedBy=multi-user.target
