{
    "active_profile": "aquarium",
    "profiles": {
        "astro_1": {
            "camera": "USB 2.0 Camera",
            "camera_device": "/dev/video0",
            "resolution": "1920x1080",
            "brightness": 32,
            "contrast": 32,
            "saturation": 64,
            "gain": 100,
            "auto_exposure": 1,
            "exposure_time_absolute": 5000,
            "delete": false,
            "file_format": ".png",
            "gsbucket": "your-gcp-project-photos",
            "pic_timer": 60,
            "light_trigger_enabled": true,
            "light_threshold": 15,
            "light_trigger_mode": "dark",
            "time_trigger_enabled": false,
            "start_time": "20:00",
            "stop_time": "06:00",
            "check_interval": 300
        },
        "astro_2": {
            "camera": "FIBONAX Nova80",
            "camera_device": "/dev/video0",
            "resolution": "1920x1080",
            "brightness": 16,
            "contrast": 50,
            "saturation": 64,
            "gain": 16,
            "auto_exposure": 2,
            "exposure_time_absolute": 12287,
            "delete": false,
            "file_format": ".png",
            "gsbucket": "your-gcp-project-photos",
            "pic_timer": 60,
            "light_trigger_enabled": false,
            "light_threshold": 15,
            "light_trigger_mode": "dark",
            "time_trigger_enabled": true,
            "start_time": "17:00",
            "stop_time": "06:00",
            "check_interval": 300
        },
        "aquarium": {
            "camera": "USB 2.0 Camera",
            "camera_device": "/dev/video0",
            "resolution": "1920x1080",
            "brightness": 0,
            "contrast": 32,
            "saturation": 96,
            "gain": 0,
            "auto_exposure": 3,
            "exposure_time_absolute": 156,
            "delete": false,
            "file_format": ".png",
            "gsbucket": "your-gcp-project-photos",
            "pic_timer": 5,
            "light_trigger_enabled": true,
            "light_threshold": 40,
            "light_trigger_mode": "bright",
            "time_trigger_enabled": true,
            "start_time": "08:00",
            "stop_time": "22:00",
            "check_interval": 60
        },
        "daylight": {
            "camera": "USB 2.0 Camera",
            "camera_device": "/dev/video0",
            "resolution": "1920x1080",
            "brightness": 0,
            "contrast": 40,
            "saturation": 64,
            "gain": 25,
            "auto_exposure": 3,
            "exposure_time_absolute": 500,
            "delete": false,
            "file_format": ".png",
            "gsbucket": "your-gcp-project-photos",
            "pic_timer": 15,
            "light_trigger_enabled": false,
            "light_threshold": 30,
            "light_trigger_mode": "bright",
            "time_trigger_enabled": true,
            "start_time": "07:00",
            "stop_time": "19:00",
            "check_interval": 120
        }
    }
}
